nav{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    background-color:  #FF3A44;
    color: white;
    text-transform: uppercase;
}

nav li{
    display: inline-block;
    text-decoration: none;
}
nav a{
    display: block;
    padding:25px 25px 25px 25px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover{
    background: #FF656D;
}

body{
    margin: 0px;
    background: #e9ebee;
}

h1{
   font-family: 'Roboto', san-serif;
    text-align: center;
}

p{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    
}
.preferences {
    font-family:'Quicksand', sans-serif;
    background: white;
    margin: 0 auto;
    text-align: center;
    border: 5px solid #ff656c;
    margin: 0 auto;
    width: 400px;
    border-radius: 5px;
 
}

.preferences option {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

select{
    width: 70%;
    display: inline-block;    
    text-align: center;
    height: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.buttonopen button {
    text-align: center;
    background: #FF656D;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #FF656D;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    height: 100px;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    cursor: pointer;
    display: block;
    margin: auto;

}

.buttonopen button:hover{
    background: #FF3A44;
    border: 1px solid #FF3A44;
}

.inputTextHeight{
    width: 20%;
}

.nextbtn{
    width: 70%;
    height: 40px;
    background: #FF656D;
    display: inline-block;    
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #FF656D;
    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    cursor: pointer;
}

.nextbtn:hover{
    background: #FF3A44;
    border: 1px solid #FF3A44;
}

.hobbies{
    padding: 10px;
    margin-right:  10px;

}

input[type=text]{    
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

input[type=number]{
    width: 55px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}